{% extends 'base.html.twig' %}

{% block title %}Your Favourite fruits
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
<h1>Your Favourite fruits ⭐</h1>

		<a href="/"><<All Fruits</a>
		<br>
		<br>

		{% for fruit in favourite_fruits %}
			<span class="page-link">{{ fruit ?? '' }} <span><br>
		{% endfor %}
		<h5>The sum of nutrition facts of all fruits:  {{ nutrition_facts_sum }}<h5>



	</div>
{% endblock %}
