{% extends 'base.html.twig' %}

{% block title %}Fruits from fruitvice.com!!
{% endblock %}

{% block body %}
<script>
	function filterByName() {
		document.getElementById("myDropdown1").classList.toggle("hide");
		document.getElementById("myDropdown").classList.toggle("show");
	}
	
	function filterByFamily() {
		document.getElementById("myDropdown").classList.toggle("hide");
		document.getElementById("myDropdown1").classList.toggle("show");
	}
</script>

	<div class="example-wrapper">
		<a href="/"><h1>All Fruits</h1></a!>
		<a href="/fruits/favourite">
			<span class="page-link">Favourite Fruits</span>
		</a>
		<br>
		<br>
		<div class="dropdown">
			<button onclick="filterByName()" class="dropbtn">Filter By Name</button>
			<div id="myDropdown" class="dropdown-content">
				<a href="/"><< Back</a>
				{% for fruit in all_fruits %}
					<a href="{{ fruit.fruit_name }}/">{{ fruit.fruit_name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="dropdown">
			<button onclick="filterByFamily()" class="dropbtn">Filter By Family</button>
			<div id="myDropdown1" class="dropdown-content">
				<a href="/"><< Back</a>
				{% for fruit in families %}
					<a href="/family/{{ fruit.family }}/">{{ fruit.family }}</a>
				{% endfor %}
			</div>
		</div>
		<br>
		<br>
		<br>
		{% for fruit in paginator.items %}
			{{ fruit.fruit_name }}
			<span class="separator"> | </span>
			<a href="{{ path('add_favourite_fruit', {'name': fruit.fruit_name }) }}" class="separator">⭐ Add to Favourite Fruits</a>
			<br>
		{% endfor %}

		{% include 'utils/paginator.html.twig' %}

	</div>
{% endblock %}
