{% set _currentPage = app.request.query.get('page') ?: 1 %}
{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _lastPage = paginator.lastPage %}
{% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

{% if paginator.lastPage > 1 %}
	<nav>
		<ul class="pagination justify-content-center">
        Страницы:
			{% for i in 1..paginator.lastPage %}
				<span class="page-item {% if i == _currentPage %}active{% endif %}">
					<a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: i})) }}">{{ i }}</a>
				</span>
			{% endfor %}

		</ul>
	</nav>
{% endif %}
